---
# file: roles/prometheus/files/prometheus.yml

global:
  scrape_interval:     10s
  evaluation_interval: 10s
  external_labels:
      monitor: 'fnsn'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node'
    static_configs:
      - targets: 
        - localhost:9100
  - job_name: 'elasticsearch'
    static_configs:
      - targets: 
        - localhost:9108
  - job_name: 'grafana'
    static_configs:
      - targets: 
        - localhost:3000
  - job_name: 'nodejs'
    static_configs:
      - targets: 
        - localhost:12345
