[Unit]
Description=prometheus
After=network.target

[Service]
User=root
ExecStart=/opt/{{ prometheus_ver }}/prometheus -config.file=/opt/{{ prometheus_ver }}/prometheus.yml
WorkingDirectory=/opt/{{ prometheus_ver }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
