[Unit]
Description=kibana
After=network.target

[Service]
User=kibana
LimitNOFILE=65536
ExecStart=/opt/{{ kibana_ver }}/bin/kibana
WorkingDirectory=/opt/{{ kibana_ver }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
