[Unit]
Description=elasticsearch
After=network.target

[Service]
User=elasticsearch
LimitNOFILE=65536
ExecStart=/opt/{{ elasticsearch_ver }}/bin/elasticsearch
WorkingDirectory=/opt/{{ elasticsearch_ver }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
