cluster.name: {{ ansible_hostname }}
path.conf: /opt/{{ elasticsearch_ver }}/config
path.data: /opt/{{ elasticsearch_ver }}/data
path.logs: /opt/{{ elasticsearch_ver }}/logs
network.host: {{ ansible_default_ipv4.address }}
