input {
  beats {
    port => 5044
    host => "{{ ansible_default_ipv4.address }}"
  }
}
filter {
  grok {
    match => { "message" => ["%{SYSLOGTIMESTAMP:[syslog_timestamp]} %{SYSLOGHOST:[hostname]} %{DATA:[program]}(?:\[%{POSINT:[pid]}\])?: %{GREEDYMULTILINE:[syslog_message]}"] }
    pattern_definitions => { "GREEDYMULTILINE" => "(.|\n)*" }
  }
  date {
    match => [ "[timestamp]", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
  }
  if [program] == "grafana-server" {
    dissect {
      mapping => {
        "syslog_message" => "t=%{t} lvl=%{lvl} msg=%{msg} %{+msg} logger=%{logger} userId=%{userId} orgId=%{orgId} uname=%{uname} method=%{method} path=%{path} status=%{status} remote_addr=%{remote_addr} time_ms=%{time_ms} size=%{size} referer=%{referer}"
      }
    }
    mutate {
      remove_field => [ "syslog_message" ]
    }
  }
  if [program] == "kibana" {
    json {
      source => "syslog_message"
    }
    mutate {
      rename => { 
        "statusCode" => "status"
        "[res][contentLength]" => "size"
        "[res][responseTime]" => "time_ms"
        "[req][headers][user-agent]" => "user_agent"
        "[req][referer]" => "referer"
        "[req][method]" => "method"
        "[req][remoteAddress]" => "remote_addr"
        "[req][url]" => "path"
      }
      uppercase => [ "method" ]
      remove_field => [ "[res]", "[req]", "syslog_message" ]
    }
  }
  mutate {
    remove_field => [ "message", "type", "input_type", "offset", "hostname", "[beat]" ]
  }
}
output {
  elasticsearch {
    hosts => "http://{{ ansible_default_ipv4.address }}:9200"
    manage_template => false
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}